@(incidents: Map[String, Seq[model.Incident]], active: Int)(implicit request: play.api.mvc.RequestHeader)

@import helpers.ViewHelper.pluralize

@admin("All incidents") {

<div class="summary">
  <h3>@active unresolved @pluralize(active, "incident")</h3>
</div>

<div class="incidents">
    @incidents.map { case (k,v) =>

    <div class="col-md-10">
        @v.map { incident =>
        <div class="incident">
            <div class="header">
              <a href="@routes.Incidents.show(incident.id.get)">
                <h3>
                    <i class="fa @incident.status.iconClass"></i>
                    [@incident.status] @incident.title</h3>
              </a>
            </div>
            <div class="body">
                <p>@incident.updates.length @pluralize(incident.updates.length, "update")</p>
                <p>@incident.description</p>
                <p>Created: @incident.prettyDate</p>
            </div>
        </div>
        }
    </div>

    <div class="col-md-2 hide-mobile"><h3>@k</h3></div>
    }
</div>
}