@(incidents: Map[String, Seq[model.Incident]], active: Int)(implicit request: play.api.mvc.RequestHeader)

@admin("All incidents") {

<div class="incidents">
    @incidents.map { case (k,v) =>

    <div class="col-md-10">
        @v.map { incident =>
        <div class="incident">
            <div class="header">
              <a href="@routes.Incidents.show(incident.id.get)">
                <h3>
                    @if(incident.status.intValue == 1) {
                      <i class="fa fa-exclamation-triangle red"></i>
                    } else {
                      @if(incident.status.intValue == 2) {
                        <i class="fa fa-question-circle yellow"></i>
                      } else {
                        <i class="fa fa-check green"></i>
                      }
                    }
                    [@incident.status] @incident.title</h3>
              </a>
            </div>
            <div class="body">
                <p>@incident.description</p>
                <p>Created: @incident.created</p>
            </div>
        </div>
        }
    </div>

    <div class="col-md-2 hide-mobile"><h3>@k</h3></div>
    }
</div>
}