@(incidents: Map[String, Seq[model.Incident]], active: Int)


@admin("All incidents") {

<div class="summary">
    There are currently @active active incidents
</div>

<div class="incidents row">
    @incidents.map { case (k,v) =>

    <div class="col-md-10">
        @v.map { incident =>
        <div class="incident">
            <div class="header">
              <a href="@routes.Incidents.show(incident.id.get)">
                <h3><i class="fa fa-exclamation-triangle"></i> <i class="fa fa-check"></i> [@incident.status] @incident.title</h3>
              </a>
            </div>
            <div class="body">
                <p>@incident.description</p>
                <p>Created: @incident.created</p>
            </div>
        </div>
        }
    </div>

    <div class="col-md-2"><h3>@k</h3></div>
    }
</div>
}