@(incident: model.Incident)

@admin("Incident") {

<div class="incident">

    <div class="header">
        <h1>@incident.title</h1>
    </div>
    <div class="body">
        <p>Status: @incident.status</p>
        <p>Created @incident.created</p>
    </div>

    <div class="update">
        <h3>Maintenance</h3>
        <p>We are putting Heroku Scheduler into maintenance mode for database maintenance. Jobs that would be scheduled to run during the maintenance window will be executed when scheduler comes back.</p>
    </div>
    <div class="update">
        <h3>Maintenance</h3>
        <p>We are putting Heroku Scheduler into maintenance mode for database maintenance. Jobs that would be scheduled to run during the maintenance window will be executed when scheduler comes back.</p>
    </div>

</div>

}