@(incident: model.Incident, updates: Seq[model.Update])

@admin("Incident") {

<div class="incident">

    <div class="header">
        <h1>@incident.title</h1>
        <p><a href="@routes.Updates.add(incident.id.get)">Post an update</a></p>
    </div>
    <div class="body">
        <p>Status: @incident.status</p>
        <p>Created @incident.created</p>
    </div>

    @updates.map { update =>

      <div class="update">
          <h3>@update.title</h3>
          <p>@update.description</p>
          <p>Posted: @update.created</p>
      </div>
    }

</div>

}