@(form: Form[forms.IncidentData])(implicit request: play.api.mvc.RequestHeader)

@admin("New incident") {

<div class="col-md-8 col-md-offset-2">

    <h1>Create a new incident</h1>

    @helper.form(action = routes.Incidents.create) {
    <div class="field">
        <label>Incident Title</label>
        <input type="text" id="title" name="title" placeholder="i.e Service down"/>
    </div>

    <div class="field">
        <label>Incident Status</label>
        <ul>
        @model.Status.allStatuses.map { status =>

          <li class="radio">
              @if(status.intValue == 1) {
              <input type="radio" name="status" checked="checked" value="@status.intValue">
              } else {
              <input type="radio" name="status" value="@status.intValue">
              }
              <span>@status.name</span>
          </li>
        }
       </ul>
    </div>

    <div class="field">
        <label>Message</label>
        <textarea name="description" id="description" placeholder="Incident description..."></textarea>
    </div>

    <input class="button" type="submit" value="Add"/>
    }

</div>
}

