@(form: Form[forms.IncidentData])

@admin("New incident") {

  <div class="col-md-8 col-md-offset-2">

  <h1>Create a new incident</h1>

  @helper.form(action = routes.Incidents.create) {
    <div class="field">
        <label>Title</label>
        <input type="text" id="title" name="title" placeholder="i.e Service down"/>
    </div>

    <div class="field">
      <label>Description</label>
      <textarea name="description" id="description" placeholder="Incident description...">

      </textarea>
    </div>

    <input class="button" type="submit" value="Add" />
  }

  </div>
}

