@()(implicit request: play.api.mvc.RequestHeader)
<header>
    <div class="container">
        <nav>
            <ul>
                <li><a href="@routes.Incidents.index">Incidents</a></li>
                @if(!request.session.isEmpty) {
                  <li><a href="@routes.Incidents.add">Create incident</a></li>
                }
                @if(request.session.isEmpty) {
                  <li><a href="@routes.Auth.login">Log in</a></li>
                } else {
                  <li><a href="@routes.Auth.logout">Logout</a></li>
                }
            </ul>
        </nav>
    </div>
</header>